////
/// TAO CSS SDK
/// Color definitions, current platform theme
/// @group Platform Colors
////

$colorScheme: (
	mainBarBg:     rgb(51,37,50),
	mainBarText:   rgb(164,154,135),
	menuActiveBg:  rgb(100,77,82),
	menuActiveText:rgb(195,201,189),
	actionBarBg:   rgb(100,77,82),
	actionBarText: rgb(195,201,189),
	loadingBar:    rgb(247,122,82)
);

@import './varieties';
@import '../../../../_common/mixins';

/// header
$headerBg: map-get($colorScheme, 'mainBarBg');
$headerText: map-get($colorScheme, 'mainBarText'); 

/// footer
$footerBg: map-get($colorScheme, 'mainBarBg');
$footerText: map-get($colorScheme, 'mainBarText'); 

/// main menu, hover etc. will be computed according to the formulas in _varieties.scss
$menuActiveBg: map-get($colorScheme, 'menuActiveBg');
$menuActiveText: map-get($colorScheme, 'menuActiveText');

/// action bar
$actionBarBg: map-get($colorScheme, 'actionBarBg');
$actionBarText: map-get($colorScheme, 'actionBarText');

/// tabs
$activeTabBg: map-get($colorScheme, 'actionBarBg');
$activeTabText: map-get($colorScheme, 'actionBarText');

// loading bar
$loadingBar: map-get($colorScheme, 'loadingBar');
